* {
  box-sizing: border-box;
}
section {
  height: 100vh;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
}
.entete {
  font-family: fantasy;
  margin: 0 auto;
  position: sticky;
  color: rgb(226, 164, 255);
  text-shadow: 3px 2px 1px rgb(243, 98, 160);
  text-align: center;
  font-size: 4rem;
  border: 5px palevioletred dashed;
}


.entete__description {
   align-items: center; 
  display: flex;
  flex-wrap: wrap;
   flex-direction: column;
  width: fit-content;
  height: fit-content;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  border: 5px plum dashed;
  border-radius: 30px;
  background-color: rgb(236, 204, 255);
  color: indianred;
  padding: 30px;
  gap: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
     
}
.kirby__description {
  /*flex: 2 1 400px;*/
  flex-shrink: 1;
  flex-basis: 200px;
  flex-grow: 0;
}
.auteur__description {
  /*flex: 1 1 200px;*/
  flex-shrink: 1;
  flex-basis: 200px;
  flex-grow: 0;
}
.bouton__inscription {
  display: flex;
  margin: 0 auto;
  height: 70px;
  justify-content: center;
  background-color: rgb(255, 239, 167);
  text-decoration: none;
  color: rgb(212, 84, 180);
  border: 3px solid palevioletred;
  box-shadow: 3px 2px 1px rgb(243, 98, 160);
  border-radius: 30px;
  padding: 15px;
  flex-basis: 50px;
}

.bouton__inscription:hover {
   opacity: 0.8;
}

.bouton__inscription a {
  text-decoration: none;
  

}
.centre {
  /*max-width: 1100px;
    margin: 0 auto;*/
  background-color: rgb(255, 183, 219);
}
h1 {
  margin: 0;
  padding: 20px;
}
.un {
  background-color: rgb(255, 234, 234);
  background: url("../images/kirby4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px palevioletred solid;
  border-top: none;
  font-size: 2rem;
 
}
.un h1{
     font-family: fantasy;
  color: rgb(255, 164, 220);
  text-shadow: 3px 2px 1px rgb(243, 98, 160);
}
.deux {
  background-color: rgb(239, 221, 255);
}
.trois {
  background-color: rgb(229, 222, 255);
}
.quatre {
}
.quatre h1 {
  background-color: rgb(255, 253, 200);
  color: palevioletred;
  text-align: center;
}
/*/////////////////////////////////////////////////////////chk-burger///////////////////////////////////////////////////////////////////*/

#chk-burger {
  margin: 0 auto;
  margin-top: 25px;
  display: none;
  position: fixed;
  /*top: 100px;
  right: 50px;*/
  background-color: rgb(236, 215, 255);
  border: 5px dotted palevioletred;
 border-radius: 15px;
  width: 300px;
  height: 300px;
  /* 2 rem = 2 x 14 px*/
  font-size: 2rem;
  padding: 10px;
}
.navigation{
  position: fixed;
  top: 100px;
  right: 1px;
  transform: translateX(100%);
  transition: transform 1s;

}
.navigation__bouton {
  position: fixed;
  top: 10px;
  right: 10px;
}

/*.navigation__bouton:hover {

  opacity: 0.8;
}*/

#chk-burger:checked ~ .navigation {
  /*display: block; /*=======================faire afficher (cocher)============*/
  transform: translateX(0);
}
.navigation a {
  display: block;
  text-decoration: none;
  font-size: 3rem;
  color: aliceblue;
  font-family: fantasy;
}
.navigation a:hover {
  font-size: 3.2rem;
}
/*///////////////////////////////////////////////////////=====formulaire======//////////////////////////////////////////////////////////////////////*/
.formulaire {
  border: 5px dashed pink;
  border-radius: 15px;
  padding: 20px;
}
.formulaire__label {
  font-family: fantasy;
  color: rgb(255, 145, 169);
}
.formulaire__input {
  background-color: rgb(255, 220, 228);
  border: 5px palevioletred;
  border-radius: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.formulaire__div {
  margin: 20px 0;
}


.navigation img:hover {
  transform: scale(1.12);
  box-shadow: 0 8px 18px rgba(130, 29, 170, 0.18);
}

